// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* Header ================================ */
.header {
    border-style: solid;
    color:coral;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:coral;
}

li {
    float: left;
}

li a{
    color:white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover{
    background-color: sandybrown;
}

/* Body ================================ */
.body {
    border-style: solid;
    background-color:chartreuse;
  }

/* landing page ================================ */  
.landing-page {
    border-style: solid;
    text-align: center;
    color: white;
    background-color: #abc7c5;
  }