// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



/* Body ================================ */
.body {
    border-style: solid;
    background-color:chartreuse;
  }

/* landing page ================================ */  
.landing-page {
    border-style: solid;
    text-align: center;
    color: white;
    background-color: #abc7c5;
  }